.teaser__logo {
  position: absolute;
  background-color: $body-bg;
  border-radius: $border-radius;
  font-size: $font-size-sm;
  font-weight: $font-weight-light;
  top: 0;
  transform: translateY(-50%);
  box-shadow: $box-shadow-down-template;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: $grid-gutter-width * 1.5;
  padding-right: $grid-gutter-width / 1.5;
  .image{
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    width: 28px;
  }
  @include plain-hover-focus(){
    text-decoration: inherit;
    color: inherit;
  }
}