.sidebar__icon {
  vertical-align: middle;
  height: $input-height;
  display: inline-block;
  overflow: hidden;
  width: 20px;
  .fi{
    position: absolute;
    height: 5px;
    line-height: 5px;
    display: flex;
    align-items: center;
    font-size: 10px;
    animation: move-fi 1.5s linear infinite;
    &:before{
      animation: fade-fi 1.5s linear infinite;
      opacity: 1;
      transform: scale(0.9);
    }
    &:nth-child(2){
      &, &:before{
        animation-delay: 0.5s;
      }
    }
    &:nth-child(3){
      &, &:before{
        animation-delay: 1s;
      }
    }
    &:nth-child(4){
      &, &:before{
        animation-delay: 1.5s;
      }
    }
  }
}

@keyframes move-fi {
  0%{
    transform: translateY(20px);
  }
  100%{
    transform: translateY(0);
  }
}
@keyframes fade-fi {
  0%{
    opacity: 0.4;
    transform: scale(0.3);
  }
  60%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: scale(0.9);
  }
}