.list_style_dash {
  position: relative;
  list-style: none;
  padding-left: $grid-gutter-width;
  margin-bottom: $paragraph-margin-bottom;
  li{
    &:not(:last-child){
      margin-bottom: $paragraph-margin-bottom;
    }
    &:before{
      content: '—';
      position: absolute;
      left: 0;
    }
  }
}