.header__fixed {
  background-color: $white;
  border-bottom: 1px solid $blue-light;
  &:not(.fixed-top){
    border-bottom: 1px solid transparent;
  }
  @include media-breakpoint-up($navigation-breakpoint-up){
    will-change: position;
    &:not(.fixed-top){
      will-change: auto;
    }
  }
}