.review-stat {
  display: block;
  padding: $grid-gutter-width/2;
  box-shadow: inset 0 0 0 2px $blue-light;
  transition: $transition-base;
  transition-property: box-shadow;
  transform: translate3d(0,0,0);
  @include media-breakpoint-up(xl){
    padding: $grid-gutter-width;
  }
  &:not(:last-child){
    margin-bottom: $grid-gutter-width;
  }
  @include hover(){
    box-shadow: inset 0 0 0 0 $blue-light, $box-shadow-down-template;
    z-index: 10;
  }
}