.navigation__item {
  position: relative;
  padding-top: $m;
  padding-bottom: $m;
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;
  @include media-breakpoint-down($navigation-breakpoint-down){
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
    &:last-child{
      display: none;
    }
  }
}