.card-bank__info {
  padding: inherit;
  margin: $grid-gutter-width/-2;
  @include media-breakpoint-up(xl){
    margin: -$grid-gutter-width;
  }
  &:not(:first-child){
    border-top: 2px solid $blue-light;
    margin-top: $grid-gutter-width/2;
    @include media-breakpoint-up(xl){
      margin-top: $grid-gutter-width;
    }
  }
  &:not(:last-child){
    border-bottom: 2px solid $blue-light;
    margin-bottom: $grid-gutter-width/2;
    @include media-breakpoint-up(xl){
      margin-bottom: $grid-gutter-width;
    }
  }
}