.card-bank__rating {
  padding-top: $m;
  padding-bottom: $m;
  text-align: right;
  @include media-breakpoint-up(xl){
    text-align: center;
  }
  @include media-breakpoint-only(md){
    text-align: center;
  }
}