.table-exchange__caret {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  display: inline-block;
  vertical-align: middle;
  &.text-success{
    border-bottom: 5px solid;
  }
  &.text-danger{
    border-top: 5px solid;
  }
}