.sidebar__btn-group {
  background-color: $primary;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  border-radius: $m 0 0 $m;
  padding-top: $m;
  padding-bottom: $m;
  box-shadow: $box-shadow-down-template;
  @include media-breakpoint-up(md){
    border-radius: $grid-gutter-width/2 0 0 $grid-gutter-width/2;
    padding-top: $grid-gutter-width/2;
    padding-bottom: $grid-gutter-width/2;
  }
}