.card-bank__wrap {
  margin-bottom: $m;
  @include media-breakpoint-up(xl){
    text-align: center;
    margin-bottom: 0;
  }
  @include media-breakpoint-only(md){
    text-align: center;
    margin-bottom: 0;
  }
}