.subscribe {
  background-color: $primary;
  color: $white;
  padding-top: $grid-gutter-width / 1.5;
  padding-bottom: $grid-gutter-width / 1.5;
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
  @include media-breakpoint-up(sm){
    border-radius: $border-radius-lg;
  }
  @include media-breakpoint-up(lg){
    padding-left: $grid-gutter-width * 2;
    padding-right: $grid-gutter-width * 2;
  }
  .form-control{
    background-color: transparent;
    border-color: $white;
    color: $white;
    &::placeholder {
      color: $white;
      opacity: 1;
    }
  }
  .form-check-label:after{
    background-color: $blue-dark !important;
  }
}