@font-face {
  font-family: $icons-font-family;
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: url('#{$icons-font-folder}/#{$icons-font-family}.woff') format('woff'),
}
.fi{
  @include fi();
  &[data-count]{
    position: relative;
    &:after{
      position: absolute;
      top: -40%;
      right: -25%;
      font-family: $font-family-base;
      content: attr(data-count);
      background-color: $accent;
      color: $primary;
      text-align: center;
      font-size: 0.7em;
      height: 1.5em;
      width: 1.5em;
      border-radius: 1em;
      line-height: 1.5em;
    }
  }
}
.fi_icon_stub{
  &:before{
    display: inline-block;
    content: '';
    width: 1em;
    height: 1em;
    border: 1px solid;
    box-sizing: border-box;
  }
}
@each $key, $value in $icons {
  .fi_icon_#{$key} {
    &:before{
      content: $value;
    }
  }
}



