.btn__pulsar {
  position: relative;
  width: 1em;
  height: 1em;
  display: inline-block;
  background: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 5%, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 35%);
  margin-right: 1em;
  vertical-align: -0.14em;
  &:after,
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    animation: btn__pulsar 1.8s linear infinite;
    opacity: 0;
    border: 1px solid $white;
    border-radius: 50%;
    will-change: transform, opacity;
  }
  &:after{
    animation-delay: .5s;
  }
}
@keyframes btn__pulsar {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}