.navigation__dropdown {
  position: relative;
  background-color: $white;
  white-space: nowrap;
  padding-top: $grid-gutter-width/2;
  padding-bottom: $grid-gutter-width/2;
  @include media-breakpoint-up($navigation-breakpoint-up){
    position: absolute;
    padding: $grid-gutter-width;
    box-shadow: $box-shadow-template;
    border-radius: $border-radius;
    z-index: $zindex-dropdown;
    display: none;
    transition: $transition-base;
    transition-property: opacity;
    .navigation:hover &{
      display: block;
      visibility: hidden;
      opacity: 0;
    }
    .navigation__item:hover &{
      opacity: 1;
      visibility: visible;
    }
  }
  .a:not(:last-child){margin-bottom: $x}
}