.sidebar__btn {
  color: $white;
  line-height: 1;
  transition: $transition-base;
  transition-property: background, color;
  pointer-events: auto;
  @include plain-hover-focus(){text-decoration: none}
  .fi[data-count]:after {
    top: -15%;
    right: -50%;
  }
  padding: $s $m;
  @include media-breakpoint-up(md){
    font-size: $h4-font-size;
    padding: $m $l;
  }
}