.card-bank__row {
  margin-top: $grid-gutter-width/-4;
  margin-bottom: $grid-gutter-width/-4;
  @include media-breakpoint-up(xl){
    margin-top: $grid-gutter-width/-2;
    margin-bottom: $grid-gutter-width/-2;
  }
}