.choice-associated__pill {
  display: inline-block;
  padding: $s 0;
  color: $primary;
  input:checked ~ & {
    transition: $transition-base;
    background-color: $primary;
    color: $white;
    padding-left: $m;
    padding-right: $m;
    span{border-bottom: none}
  }
  span{border-bottom: 1px dashed}
  @include hover() {
    text-decoration: none;
    span{border-bottom-color: transparent}
  }
}