.panel__shadow {
  position: absolute;
  width: 100%;
  height: $grid-gutter-width/2;
  pointer-events: none;
  z-index: 10;
  &:first-child{
    top: 0;
    background: linear-gradient(to top, rgba($gray-100,0) 50%,rgba($gray-100,1) 100%);
  }
  &:last-child{
    bottom: 0;
    background: linear-gradient(to bottom, rgba($gray-100,0) 50%,rgba($gray-100,1) 100%);
  }
}