.columns {
  column-gap: $grid-gutter-width;
  column-width: $page-min-width - $grid-gutter-width;
  @each $breakpoint in map-keys($grid-breakpoints) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @include media-breakpoint-up($breakpoint) {
      @for $i from 1 through 3 {
        &#{$infix}-#{$i} {
          column-count: $i;
        }
      }
    }
  }
}