.navigation {
  font-size: $font-size-md;
  @include media-breakpoint-down($navigation-breakpoint-down){
    max-width: 100%;
    position: fixed;
    z-index: $zindex-modal;
    top: 0;
    bottom: 0;
    right: 100%;
    background-color: $body-bg;
    overflow: hidden;
    transform: translateX(0%);
    transition: $transition-base;
    transition-property: transform;
    will-change: transform, box-shadow;
    &.show{
      transform: translateX(100%);
      box-shadow: $box-shadow-template;
    }
  }
}