.panel__scroll {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  //padding-left: $grid-gutter-width;
  //padding-right: $grid-gutter-width;
  //padding-bottom: $grid-gutter-width/2;
}