.navigation__inner {
  @include media-breakpoint-down($navigation-breakpoint-down){
    overflow: hidden;
    height: 100%;
    .navigation.show & {
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: $custom-scroll-bar-size;
      }
      &::-webkit-scrollbar-track{
        background: $gray-500;
      }
      &::-webkit-scrollbar-thumb{
        background: $primary;
      }
    }
  }
}