.navigation__link {
  white-space: nowrap;
  display: inline-block;
  @include plain-hover-focus(){
    color: inherit;
    text-decoration: none;
  }
  .navigation__item:hover & {
    color: $primary;
  }
}
span.navigation__link{
  cursor: default;
}