.tile__item {
  font-size: $font-size-md;
  background-color: $white;
  box-shadow: 0 0 0 1px $gray-200;
  transition: $transition-base;
  transition-property: box-shadow, border-color, transform;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: $grid-gutter-width/ 1.5;
  text-align: center;
  @include plain-hover-focus(){
    text-decoration: none;
    color: $black;
  }
  @include hover(){
    box-shadow: $box-shadow-down-template;
    z-index: 10;
  }
}