.card-special {
  display: block;
  font-size: $font-size-md;
  background-color: $white;
  box-shadow: 0 0 0 1px $gray-200;
  transition: $transition-base;
  transition-property: box-shadow;
  transform: translate3d(0,0,0);
  height: 100%;
  @include plain-hover-focus(){
    text-decoration: none;
    color: inherit;
  }
  @include hover(){
    box-shadow: $box-shadow-down-template;
    z-index: 10;
  }
  @include plain-hover-focus(){
    text-decoration: none;
    color: inherit;
  }
}