.comparison__row {
  display: flex;
  flex-flow: row wrap;
  padding-top: $grid-gutter-width/3;
  padding-bottom: $grid-gutter-width/3;
  .comparison__body &:nth-child(2n - 1){
    background-color: $blue-light;
  }
}