html:not(.ua-no-modern){
  display: flex;
  font-size: $rem-baseline;
  flex: 1 1 auto;
  min-height: 100vh;
  body{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    min-width: $page-min-width;
    min-height: 100vh;
  }
}
body{
  font-weight: $font-weight-light;
  &.ua-touch{overflow-y: scroll}
}