.footer__inner {
  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width/2;
  @include media-breakpoint-down(xs){
    text-align: center;
  }
  @include media-breakpoint-up(xl){
    padding-top: $grid-gutter-width * 1.5;
    padding-bottom: $grid-gutter-width * 1.5;
  }
}