.nav_type_simple {
  margin-left: -$nav-link-padding-x;
  margin-right: -$nav-link-padding-x;
  a, .a{
    span{border-bottom: 1px solid transparent}
    &:hover span{
      border-bottom-color: initial;
    }
    &.active {
      pointer-events: none;
      span{
        border-bottom-color: rgba($body-color, 0.5);
        color: $body-color;
      }
    }
  }
}
.nav_type_toggle{
  .nav-item.show{
    display: none !important;
  }
}
.nav_type_dropdown{
  .nav-link{
    display: flex;
    align-items: baseline;
    padding: $btn-padding-y $btn-padding-x;
    padding-left: $grid-gutter-width;
    position: relative;
    .nav-icon{
      align-self: center;
      width: 25px;
      &:not(:last-child){
        margin-right: $grid-gutter-width/2;
      }
    }
    .fi{
      vertical-align: middle;
      &_icon_circle-o{
        &:before{
          font-size: 8px;
          vertical-align: 2px;
        }
      }
      &:not(:last-child){
        margin-right: $grid-gutter-width/2;
      }
    }
    &.active{
      pointer-events: none;
      color: inherit;
      background-color: $gray-200;
    }
  }
}