.panel__title {
  @include GatewayForProperty($h4-font-size, $h2-font-size, $page-min-width, map_get($grid-breakpoints, 'md'));
  line-height: $headings-line-height;
  &:not(:last-child){
    margin-bottom: $headings-margin-bottom;
  }
}