.card-offer__controls {
  color: $secondary;
  white-space: nowrap;
  .a{
    line-height: 1;
    transition: $transition-base;
    transition-property: color;
    color: inherit;
    padding-top: $grid-gutter-width/5;
    padding-bottom: $grid-gutter-width/5;
    display: inline-block;
    &:not(:last-child){
      margin-right: $m;
    }
    &:hover, &.active{
      color: $primary;
      text-decoration: none;
    }
  }
}