.tile__title {
  font-size: $font-size-base;
  margin-top: $m;
  line-height: $headings-line-height;
  &[data-label]:after{
    content: attr(data-label);
    background-color: $accent;
    color: $primary;
    text-align: center;
  }
  @include media-breakpoint-up(xl) {
    .tile__item.col-xl-12 &{
      font-size: $h1-font-size;
    }
    .tile__item.col-xl-6 &{
      font-size: $h3-font-size;
    }
  }
}