.sidebar {
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  pointer-events: none;
  position: fixed;
  @supports (position: sticky) {position: absolute}
  body:not(.modal-open) & {
    z-index: $zindex-sticky;
  }
  .fixed-top-control{
    height: 100vh;
    max-height: 100%;
  }
}