.search__input{
  flex: 1 1 auto;
  border: none;
  box-shadow: none;
  outline: none;
  font-size: $h5-font-size;
  color: $primary;
  line-height: 1;
  width: 1%;
  &::placeholder {
    color: $primary;
    opacity: 1;
  }
}