.card-offer__label {
  justify-content: center;
  line-height: 1.2;
  font-weight: $font-weight-normal;
  background-color: $blue-light;
  color: $primary;
  border-radius: $btn-border-radius-sm;
  padding-left: $btn-padding-x-sm;
  padding-right: $btn-padding-x-sm;
  padding-top: $s;
  padding-bottom: $s;
  min-height: $input-height-sm;
  font-size: $font-size-sm;
  display: flex;
  align-items: center;
  max-width: 140px;
  .fi {
    font-size: 1.3em;
    &:not(:last-child){
      padding-right: $btn-padding-x-sm;
    }
  }
}