.sidebar__page-up {
  position: fixed;
  bottom: $grid-gutter-width/2;
  right: 0;
  font-size: $font-size-md;
  border-radius: $badge-pill-border-radius 0 0 $badge-pill-border-radius;
  display: block;
  transition: $transition-base;
  transition-property: background, opacity;
  pointer-events: auto;
  white-space: nowrap;
  transform: translate3d(0, 0, 0);
  @include plain-hover-focus(){text-decoration: none}
  &:not(.show){
    pointer-events: none;
  }
}