.search__btn {
  background: none;
  border: none;
  padding: 0;
  font-size: 1.2em;
  color: $primary;
  cursor: pointer;
  margin-left: $grid-gutter-width;
  @include plain-hover-focus(){
    box-shadow: none;
    outline: none;
  }
}