.teaser-news {
  display: flex;
  font-weight: $font-weight-normal;
  &:not(:last-child){
    margin-bottom: $grid-gutter-width;
  }
  @include plain-hover-focus(){
    text-decoration: inherit;
  }
}