.suggestion {
  text-align: center;
  &_align_horizontal{
    @include media-breakpoint-up(xl){
      padding: $grid-gutter-width*2;
    }
  }
  &_align_vertical{
    padding: $grid-gutter-width;
    @include media-breakpoint-up(sm){
      padding: $grid-gutter-width*2;
    }
  }
}