$page-min-width: 320px;

// Color system
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #9DA6AF !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
//
$blue:          #0a61ff !default;
$blue-dark:     #0129AD !default;
$blue-light:    #ebf5ff !default;
$yellow:        #ffd000 !default;
$pink:          #DF2179 !default;

$primary:       $blue !default;
$secondary:     #e4e8f6 !default;
$accent:        $yellow !default;

$yiq-text-dark:             $primary !default;
$yiq-text-light:            $white !default;

$colors: (
      "blue-light":  $blue-light,
      "blue-dark": $blue-dark,
) !default;

$theme-colors: (
        "blue": $blue-light,
        "accent": $accent,
        "white": $white,
) !default;

// Spacing
$spacer: 30px !default;
$x: $spacer / 10;
$s: $spacer / 6;
$m: $spacer / 3;
$l: $spacer / 1.5;
$spacers: (
        auto: auto,
        x: $x,
        s: $s,
        m: $m,
        l: $l,
) !default;


// Body
$body-color:                $gray-700 !default;


// Paragraphs
$paragraph-margin-bottom:   $spacer !default;


// Grid breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1230px
) !default;

// Grid containers
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1170px
) !default;

// Grid columns
$grid-gutter-width:           30px !default;

// Fonts
$icons-font-family:           'fi' !default;
$font-family-sans-serif:      'Roboto', sans-serif !default;
$line-height-base:            1.625 !default;

$font-size-base:              1rem      !default; //
$font-size-lg:                rem(18px) !default;
$font-size-md:                rem(14px) !default;
$font-size-sm:                rem(12px) !default;

$h1-font-size:                rem(36px) !default;
$h2-font-size:                rem(30px) !default;
$h3-font-size:                rem(26px) !default;
$h4-font-size:                rem(24px) !default;
$h5-font-size:                rem(20px) !default;
$h6-font-size:                rem(18px) !default;

$font-sizes: (
        'inherit': 'inherit',
        'base': $font-size-base,
        'small': $font-size-sm,
        'large': $font-size-lg,
        'md': $font-size-md,
        'h1': $h1-font-size,
        'h2': $h2-font-size,
        'h3': $h3-font-size,
        'h4': $h4-font-size,
        'h5': $h5-font-size,
        'h6': $h6-font-size,
) !default;

$headings-margin-bottom:      $grid-gutter-width !default;
$headings-line-height:        1.1 !default;
$headings-color:              $black !default;

// Z-index master list
$zindex-dropdown:                   100 !default;
$zindex-sticky:                     120 !default;
$zindex-fixed:                      130 !default;
$zindex-modal-backdrop:             140 !default;
$zindex-modal:                      150 !default;
$zindex-popover:                    160 !default;
$zindex-tooltip:                    170 !default;
$zindex: (
        'auto': auto,
        '0': 0,
        'dropdown': $zindex-dropdown,
        'sticky': $zindex-sticky,
        'fixed': $zindex-fixed,
        'backdrop': $zindex-modal-backdrop,
        'modal': $zindex-modal,
        'popover': $zindex-popover,
        'tooltip': $zindex-tooltip,
) !default;

// Components
$border-radius:               rem(4px) !default;
$border-radius-lg:            rem(10px) !default;
$border-radius-sm:            $border-radius !default;
$custom-scroll-bar-size:      3px !default;

$box-shadow-template: 0 0 20px rgba($primary, 0.1);
$box-shadow-up-template: 0 -5px 20px rgba($primary, 0.15);
$box-shadow-down-template: 0 5px 20px rgba($primary, 0.15);

// Tables
$table-cell-padding:          $grid-gutter-width/4 $grid-gutter-width/2 !default;
$table-cell-padding-sm:       $grid-gutter-width/5 $grid-gutter-width/3  !default;
$table-hover-bg:              rgba($black, .05) !default;

// Buttons + Forms
$input-btn-font-size-base:    $font-size-md !default;
$input-btn-border-width:      2px !default;
$input-btn-padding-y:         rem(7px) !default;
$input-btn-padding-x:         rem(15px) !default;
$input-btn-line-height:       $line-height-base !default;



// Buttons
$btn-box-shadow:              none !default;
$btn-focus-box-shadow:        $btn-box-shadow !default;

$btn-font-size-base:                    $input-btn-font-size-base !default;
$btn-font-size-lg:                      rem(16px) !default;
$btn-padding-y-lg:                      rem(10px) !default;

$btn-border-radius:           $border-radius !default;
$btn-border-radius-lg:        $btn-border-radius !default;
$btn-border-radius-sm:        $btn-border-radius !default;

$input-border-radius:                   $border-radius !default;
$input-border-radius-lg:                $input-border-radius !default;
$input-border-radius-sm:                $input-border-radius !default;

// Forms
$input-border-width:                    $input-btn-border-width !default;
$input-height-border:                   $input-border-width * 2 !default;
$input-font-size-base:                  $input-btn-font-size-base !default;
$input-font-size-lg:                    $input-btn-font-size-base !default;
$input-height-inner:                    ($input-font-size-base * $input-btn-line-height) + ($input-btn-padding-y * 2) !default;
$input-height:                          calc(#{$input-height-inner} + #{$input-height-border}) !default;
$input-padding-y-lg:                    rem(12px) !default;
$input-border-color:                    $blue-light !default;
$input-placeholder-color:               $gray-500 !default;
$input-focus-border-color:              $blue-light !default;

$form-check-input-gutter:               $grid-gutter-width !default;

$input-box-shadow:                      none !default;
$input-focus-box-shadow:                $input-box-shadow !default;

// Form validation
$form-feedback-font-size:           $font-size-md !default;
$form-feedback-invalid-color:       $pink !default;


// Navigation
$navigation-breakpoint-up: lg;
$navigation-breakpoint-down: md;

// Nav
$nav-link-padding-x: $grid-gutter-width/2;

// Modals
$modal-backdrop-bg:                 $gray-700 !default;
$modal-backdrop-opacity:            .8 !default;
$modal-content-border-radius:       0 !default;
$modal-header-border-color:         transparent !default;
$modal-footer-border-color:         transparent !default;
$modal-header-padding:              $grid-gutter-width !default;
$modal-inner-padding:               $grid-gutter-width/1.5 $grid-gutter-width !default;

$modal-lg:                          660px !default;
$modal-md:                          500px !default;
$modal-sm:                          370px !default;

// Breadcrumbs
$breadcrumb-padding-y:              0 !default;
$breadcrumb-padding-x:              0 !default;
$breadcrumb-margin-bottom:          $grid-gutter-width/2 !default;

$breadcrumb-bg:                     transparent !default;
$breadcrumb-divider-color:          inherit !default;
$breadcrumb-active-color:           inherit !default;
$breadcrumb-divider:                quote("/") !default;

// Dropdowns
$dropdown-item-padding-y:           $input-btn-padding-y !default;
$dropdown-item-padding-x:           $input-btn-padding-x !default;
$dropdown-box-shadow:               $box-shadow-down-template !default;
$dropdown-border-radius:            0 !default;
$dropdown-border-color:             $blue-light !default;

// Popovers
$popover-bg:                        $white !default;
$popover-border-radius:             0 !default;
$popover-border-color:              $popover-bg !default;
$popover-box-shadow:                $box-shadow-down-template !default;

// Pagination
$pagination-border-color:           $primary !default;

$pagination-hover-color:            $primary !default;
$pagination-hover-bg:               $blue-light !default;
$pagination-hover-border-color:     $primary !default;

$pagination-focus-box-shadow:       none !default;