.card-section__icon {
  transition: $transition-base;
  transition-property: color;
  @include GatewayForProperty($h1-font-size, $grid-gutter-width * 2, $page-min-width, map_get($grid-breakpoints, 'xl'));
}