.teaser {
  position: relative;
  background-color: $body-bg;
  border-radius: $border-radius;
  padding-top: $grid-gutter-width;
  padding-bottom: $m;
  padding-left: $l;
  padding-right: $l;
  font-weight: $font-weight-normal;
  transition: $transition-base;
  transition-property: box-shadow;
  transform: translate3d(0,0,0);
  display: block;
  margin-top: $grid-gutter-width / 1.5;
  margin-bottom: $grid-gutter-width / 2;
  &:not(:last-child){
    margin-bottom: $grid-gutter-width;
  }
  @include plain-hover-focus(){
    text-decoration: none;
    color: $black;
  }
  @include hover(){
    box-shadow: $box-shadow-down-template;
    z-index: 10;
  }
}