.header__search {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: $body-bg;
  display: flex;
  flex-flow: column;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transition: $transition-base;
  transition-property: opacity;
  will-change: opacity;
  &.show{
    pointer-events: auto;
    opacity: 1;
  }
}