.tooltip-form-control {
  pointer-events: none;
  position: absolute;
  margin: $form-feedback-margin-top;
  width: auto;
  padding-top: $input-padding-y;
  padding-bottom: $input-padding-y;
  padding-left: $input-padding-x;
  padding-right: $input-padding-x;
  line-height: $input-line-height;
  border-radius: $input-border-radius;
  border: solid transparent;
  border-width: $input-border-width 0;
  z-index: $zindex-tooltip;
  &[x-placement="right-center"]{
    margin-left: $grid-gutter-width/2;
    &:before{
      content: '';
      border-top: 5px solid transparent;
      border-right: 5px solid;
      border-bottom: 5px solid transparent;
      position: absolute;
      right: 100%;
      top: 50%;
      margin-top: -5px;
    }
  }
  &[x-placement="left-center"]{
    margin-right: $grid-gutter-width/2;
    &:before{
      content: '';
      border-top: 5px solid transparent;
      border-left: 5px solid;
      border-bottom: 5px solid transparent;
      position: absolute;
      left: 100%;
      top: 50%;
      margin-top: -5px;
    }
  }
  &.invalid-feedback{
    background-color: $form-feedback-invalid-color;
  }
  &.valid-feedback{
    background-color: $form-feedback-valid-color;
  }
}