.table-exchange {
  width: 100%;
  tbody{
    font-size: $h4-font-size;
    th{
      font-size: $font-size-md;
      font-weight: $font-weight-light;
    }
    td{
      &:first-child{
        color: $headings-color;
        font-weight: $font-weight-bold;
      }
    }
  }
}