.review__title {
  font-size: $font-size-lg;
  font-weight: $font-weight-normal;
  color: $headings-color;
  line-height: $headings-line-height;
  margin-bottom: $m;
  &:not(:last-child){
    margin-right: $grid-gutter-width/2;
  }
}