.panel__heading {
  flex-grow: 0;
  padding: $grid-gutter-width;
  &[data-toggle]{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:after{
      content: '';
      flex: 0 0 1em;
      width: 1em;
      color: $primary;
      border: 1px solid;
      display: block;
    }
    &.collapsed{
      &:after{
        @include fi('plus');
        border: none;
      }
    }
  }
}