.review-stat__col {
  padding-top: $grid-gutter-width/4;
  padding-bottom: $grid-gutter-width/4;
  @include media-breakpoint-up(xl){
    padding-top: $grid-gutter-width/2;
    padding-bottom: $grid-gutter-width/2;
  }
}