.card-bank__title {
  display: block;
  line-height: $headings-line-height;
  font-weight: $font-weight-base;
  margin-bottom: $grid-gutter-width/2;
  font-size: $h4-font-size;
  @include plain-hover-focus(){
    color: inherit;
    text-decoration: none;
  }
}