.page-tools__icon {
  vertical-align: middle;
  line-height: 1;
  transition: $transition-base;
  transition-property: color;
  color: inherit;
  padding-top: $s;
  padding-bottom: $s;
  display: inline-block;
  &:not(:last-child){
    margin-right: $m;
  }

  &.a:hover, &.active{
    color: $primary;
    text-decoration: none;
  }
}