.card-news__badge {
  display: inline-block;
  font-size: $font-size-sm;
  padding: $btn-padding-y-sm $btn-padding-x-sm;
  line-height: $btn-line-height-sm;
  background-color: $white;
  box-shadow: $box-shadow-down-template;
  border-radius: $border-radius-sm;
}