.navigation__list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  position: relative;

  @include media-breakpoint-up($navigation-breakpoint-up){
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: -$m;
    margin-bottom: -$m;
    margin-left: $grid-gutter-width/-2;
    margin-right: $grid-gutter-width/-2;
  }
}