.vertical-gutters {
  margin-top: $grid-gutter-width/-2;
  margin-bottom: $grid-gutter-width/-2;

  > .col,
  > [class*="col-"] {
    padding-top: $grid-gutter-width/2;
    padding-bottom: $grid-gutter-width/2;
  }
}