@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-down($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .input-group-destroy-down#{$infix} {
      .form-control,
      .btn,
      .input-group-prepend,
      .input-group-append{
        width: 100% !important;
        border-radius: $input-border-radius !important;
        margin-bottom: $grid-gutter-width/3 !important;
        margin-right: auto !important;
        margin-left: auto !important;
      }
    }
  }
}