.modal-header {
  .close {
    opacity: 1;
    font-size: $h5-font-size;
    color: $primary;
    padding: 0;
    margin: -$grid-gutter-width/3;
  }
}
.modal-dialog {
  .modal.fade & {
    transform: translateY(0);
  }
}