.table {
  thead th {
    font-weight: $font-weight-normal;
  }
}
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-down($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .table#{$infix}-block{
      thead{
        display: none;
      }
      tbody{
        tr {
          display: flex;
          flex-flow: column nowrap;
          padding-top: $grid-gutter-width/2;
          padding-bottom: $grid-gutter-width/2;
          &:not(:first-child){
            border-top: 1px dashed $table-border-color;
          }
          td{
            padding-top: 3px;
            padding-bottom: 3px;
            border: none;
            width: 100%;
            flex: 1 1 100%;
            display: flex;
            flex-flow: row wrap;
            align-items: flex-end;
            &[data-title]:before{
              content: attr(data-title)': ';
              font-weight: $font-weight-normal;
              width: 190px;
              flex: 0 0 190px;
            }
          }
        }
      }
    }
  }
}