.header__toolbar {
  position: relative;
  background-color: inherit;
  box-shadow: $box-shadow-template;
  z-index: 1;
  @include media-breakpoint-up($navigation-breakpoint-up){
    z-index: 2;
  }
}