.tile__badge {
  font-size: $font-size-sm;
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  text-align: center;
  line-height: 1.2;
  transform: translateY(0);
  opacity: 0;
  pointer-events: none;
  transition: $transition-base;
  transition-property: opacity, transform;
  &:before{
    content: '';
    position: absolute;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid $accent;
    bottom: 100%;
    left: 50%;
    margin-left: -6px;
    margin-bottom: -2px;
  }
  span{
    box-shadow: 0 3px 10px rgba($black, 0.15);
    padding: 0.5em;
    display: inline-block;
    background-color: $accent;
    border-radius: 3em;
    b{font-weight: $font-weight-bold}
  }
  .tile__icon:hover &{
    transform: translateY(25%);
    opacity: 1;
  }
  .tile__item:hover &{
    transform: translateY(25%);
    opacity: 1;
  }
}