.custom-scroll-bar {
  $custom-scroll-bar-size: 3px;
  overflow: auto;
  max-height: inherit;
  &[data-simplebar]{
    display: flex;
    overflow: hidden;
    position: relative;
    z-index: 0;
    max-height: inherit;
    -webkit-overflow-scrolling: touch;
  }
  .simplebar-scroll-content {
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 100%;
    max-height: inherit;
    box-sizing: content-box;
  }
  .simplebar-content {
    overflow-y: hidden;
    overflow-x: scroll;
    min-height: 100%;
    box-sizing: content-box;
  }
  .simplebar-track {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    width: $custom-scroll-bar-size;
    background: $light;
  }

  .simplebar-scrollbar {
    position: absolute;
    right: 2px;
    width: $custom-scroll-bar-size;
    min-height: $custom-scroll-bar-size;
    background: $primary;
  }
  .simplebar-track.vertical {
    top: 0;
    background: $gray-500;
  }
  .simplebar-track.horizontal {
    left: 0;
    width: auto;
    height: $custom-scroll-bar-size;
    background: $gray-500;
  }
  .simplebar-scrollbar {
    right: auto;
    top: 2px;
    height: $custom-scroll-bar-size;
    min-height: 0;
    min-width: $custom-scroll-bar-size;
    width: auto;
  }
  &::-webkit-scrollbar {
    width: $custom-scroll-bar-size;
  }
  &::-webkit-scrollbar-track{
    background: $gray-500;
  }
  &::-webkit-scrollbar-thumb{
    background: $primary;
  }
}