.navigation__icon {
  color: $primary;
  font-size: 0.5em;
  margin-left: 1em;
  width: 1em;
  vertical-align: 0.2em;
  @include media-breakpoint-down($navigation-breakpoint-down){
    display: none;
  }
}