.navigation__close {
  display: none;
  @include media-breakpoint-down($navigation-breakpoint-down){
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: $grid-gutter-width/2;
    cursor: pointer;
    z-index: 1;
    @include plain-hover-focus(){
      color: $primary;
      text-decoration: none;
    }
  }
}